In [22]:
import pandas as pd

In [27]:
# Define the function to apply the polynomial regression equation
def build_time_forecast(bp, m, e):
    return (32.4090668747 
            - 0.0000005126 * bp 
            + 0.0012623872 * m 
            - 0.0062393020 * e 
            - 0.0001947730 * bp**2 
            - 0.0002621063 * bp * m 
            - 0.0000278516 * bp * e 
            + 0.0002574862 * m**2 
            - 0.0000502739 * m * e 
            + 0.0000086426 * e**2)

In [30]:
df = pd.read_csv('data.csv')
df.head(2)

,name,build_power,speed,e_storage,m_storage,e_production,m_production,m_cost,e_cost,bp300bt,bp80bt,max_count,growing
0,initial,NaN,NaN,500.0,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,com,300.0,NaN,500.0,500.0,25.0,2.0,2700.0,26000.0,NaN,NaN,NaN,NaN

In [25]:
bt = df[df.bp300bt>0]
# Columns to keep
cols_to_keep = ['name', 'm_cost', 'e_cost','bp300bt', 'bp80bt']
# Drop all other columns
bt = bt.drop(columns=[col for col in bt.columns if col not in cols_to_keep])

bt

                  name  m_cost  e_cost  bp300bt  bp80bt
4      solar_collector   150.0     0.0     10.0    34.0
5      metal_convertor     1.0  1250.0     10.0    34.0
6              bot_lab   620.0  1300.0     21.0    81.0
8  construction_turret   210.0  3200.0     18.0    66.0
9  solar_collector_adv   370.0  4000.0     27.0   101.0

In [ ]:
# Apply the function to each row in the pandas DataFrame
bt['bd_pred'] = bt.apply(
    lambda row: build_time_forecast(row['bp'], row['m'], row['e']), axis=1
)

bt[['bp', 'm', 'e', 'time', 'bd_pred']].head(10)

In [21]:
# bt.to_csv('bt.csv')